/*.main{
    width: 300px;
    height: 270px;
    background: linear-gradient(135deg, #FF6B6B, #ffffff);
    text-align: center;
    color: #0056b3;
    transition: transform 1s, box-shadow 0.5s;
    border: #0056b3 3px solid;
    perspective: 1000px;
}

img{
    transform: rotateY(-180deg);
    display: none;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #007BFF, #0056b3); 
}
.main:hover {
    transform: rotateY(200deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);

    .content{
        display: none;
    }

    img{
        display: block;
    }
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    background: linear-gradient(135deg, #007BFF, #0056b3) 1; 
}*/


.content:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.treatments{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60%;
    min-width: 40%;
    padding: 20px;
    background: linear-gradient(45deg , #326ca2,#224c70,#34597a);
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 15px;
    color: #6C757D;
    border-left:#007BFF 3px solid;
}

.content h3 {
    font-size: calc(2px + 1vw);
    font-weight: bold;
    margin: 0;
    color:#ffffff; 
    width: 90%;
    text-transform: uppercase; 
}

.content p {
    font-size: calc(1px + 1vw);
    line-height: 1.8;
    color: #ffffff;
    margin: 0;
    width: 100%;
    text-align: justify; 
}

a{
    color: #ffffff;
    font-size: calc(1px + 1vw);
}