<app-header></app-header>
<div class="main">
    <!--<div class="content">
        <h1 [contentEditable]="loginstatus" (input)="onheadingchange($event)" [innerHTML]="heading.content"></h1>
        <p [contentEditable]="loginstatus" (input)="oncontentchange($event)" [innerHTML]="content.content"></p>
    </div>-->
    <div class="info">
        <div class="con">
            <h1 [contentEditable]="loginstatus" (input)="onheadingchange($event)" [innerHTML]="heading.content"></h1>
            <p [contentEditable]="loginstatus" (input)="oncontentchange($event)" [innerHTML]="content.content"></p>
        </div>
        <div class="img">
            <input type="file" id="visionfileinput" *ngIf="loginstatus" (change)="onimagechange($event)" hidden accept="image/*" >
            <img [src]="filehandle.url" 
                *ngIf="loginstatus"
                id="welcomeimagePreview" 
                (click)="triggerFileInput()">
            <img [src]="filehandle.url" *ngIf="!loginstatus" alt=""  id="welcomeimagePreview" >
        </div>
    </div>
    <div class="blogs">
        <app-blog-news-box *ngFor="let no of newsarray" [news]="no"></app-blog-news-box>
    </div>
</div>
<app-footer></app-footer>
