.main{
    width: 100%;
    height: auto;
    background-color: #f0f8ff;
}

.content{
    color: #132743;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2rem;
}
.blogs{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    flex-wrap : wrap;
    margin-top: 5rem;
    padding-bottom: 4%;
    border-bottom: #6C757D 2px solid;
}

.content h1 {
    color: #007BFF; 
    font-size: 42px;
    text-decoration: underline #007BFF;
}
  
.content p {
    color: #6C757D; 
    font-size: 12px;  
    margin: 0; 
}


#welcomeimagePreview{
    width: 100%;
    max-height: auto;
    object-fit: contain;
}


.info{
    width: 100%;
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}
.con{
    width: 50%;
    height: auto;
    text-align: start;
    padding-left: 2rem;
}

#visionfileinput {
    display: none;
}

.con h1{
    width: 100%;
    font-size: calc(10px + 1vw);
    color: #007BFF;
}
.con p{
    width: 100%;
    font-size: calc(5px + 1vw);
    color: #6C757D;
}
.img{
   width: 50%;
}

@media (max-width : 600px) {
    .con{
        padding-left: 1rem;
    }
    .img{
        height: 70%;
    }
}

@media (max-width : 950px) {
    .content{
        flex-direction: column;
        align-items: center;
    }
    .content img{
        width: 90%;
        height: auto;
    }
    .content P{
        width: 90%;
    }
}


@media (max-width : 550px) {
    .con{
        padding-left: 1rem;
    }
}

@media (max-width : 500px) {
    .info{
        flex-direction: column;
    }
    .con{
        padding-left: 0.5rem;
        width: 95%;
    }
    .img{
        width: 100%;
    }
    .con P{
        font-size: calc(3px + 1vw);
    }
}