
<div class="main">
   <div class="content">
       <h1 [contentEditable]="loginstatus" (input)="onheadingchange($event)" [innerHTML]="heading.content"></h1>
       <p [contentEditable]="loginstatus" (input)="oncontentchange($event)" [innerHTML]="content.content"></p>
   </div>

   <div class="scrollable-container">
       <div class="scrollable-content">
         <div *ngFor="let spe of specializationarray" class="scroll-item" (click)="selectItem(spe.speacializationid)" [class.selected]="spe.speacializationid === selectedItem">
            {{ spe.fieldname }}
        </div>       </div>
   </div>

   <div class="doctors">
      <app-doctor-box *ngFor="let doc of Doctors| slice:0:3" [doc]="doc" ></app-doctor-box>
   </div>

   <!--<div class="dialog-body">
       <div class="carousel">
           <button class="arrow-btn left" (click)="prevImage()">&lt;</button>
           <app-doctor-box [doc]="doctorarray[currentImageIndex]"></app-doctor-box>
           <button class="arrow-btn right" (click)="nextImage()">&gt;</button>
       </div>
   </div>-->
</div>
