
<div class="main">
   <div class="content">
       <h1 [contentEditable]="loginstatus" (input)="onheadingchange($event)" [innerHTML]="heading.content"></h1>
       <p [contentEditable]="loginstatus" (input)="oncontentchange($event)" [innerHTML]="content.content"></p>
   </div>

   <div class="scrollable-container">
       <div class="scrollable-content">
         <div *ngFor="let spe of specializationarray" class="scroll-item" (click)="selectItem(spe.speacializationid)" [class.selected]="spe.speacializationid === selectedItem">
            {{ spe.fieldname }}
        </div>       </div>
   </div>

   <!--<div class="doctors">
      <app-doctor-box *ngFor="let doc of Doctors| slice:0:3" [doc]="doc" ></app-doctor-box>
   </div>-->
   <div class="specialization-carousel">
    <button class="nav-button prev" (click)="prev()" [disabled]="currentIndex === 0">
      <i class="fas fa-chevron-left"><</i>
    </button>
  
    <div class="specialization-container">
      <app-doctor-box 
        *ngFor="let spe of visibleItems" 
        [doc]="spe">
      </app-doctor-box>
    </div>
  
    <button class="nav-button next" (click)="next()" [disabled]="currentIndex >= totalPages - 1">
      <i class="fas fa-chevron-right">></i>
    </button>
    </div>
    <div class="dots-container" *ngIf="totalPages > 1">
        <span 
        *ngFor="let dot of [].constructor(totalPages); let i = index"
        class="dot" 
        [class.active]="i === currentIndex"
        (click)="goToPage(i)">
        </span>
    </div>
   <!--<div class="dialog-body">
       <div class="carousel">
           <button class="arrow-btn left" (click)="prevImage()">&lt;</button>
           <app-doctor-box [doc]="doctorarray[currentImageIndex]"></app-doctor-box>
           <button class="arrow-btn right" (click)="nextImage()">&gt;</button>
       </div>
   </div>-->
</div>
